<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      {% include bio.html %}

      <!-- Articles Section -->
      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <div class="article-content">
            {% if portfolio.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" class="article-image" />
            {% endif %}
            <div>
              <h2 class="article-title">
                <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
              </h2>
              <small class="date">{{ post.date | date_to_string }}</small>
              <div class="categories">
                {% for c in post.categories %}
                <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
      </section>
      
      <!-- Portfolio Section -->
      <section class="articles">
        <h2>ポートフォリオ</h2>
        {% assign grouped_portfolios = site.portfolio | group_by_exp:"portfolio", "portfolio.date | date: '%Y'" %}
        {% for group in grouped_portfolios reversed %}
        <div class="year-group">
          <h2 class="year">{{ group.name }}</h2>
          <div class="divider"></div>
          {% for portfolio in group.items reversed %}
          <article class="article">
            <div class="article-content">
              {% if portfolio.image %}
              <img src="{{ portfolio.image }}" alt="{{ portfolio.title }}" class="article-image" />
              {% endif %}
              <div>
                <h2 class="article-title">
                  <a href="{{site.baseurl}}{{portfolio.url}}">{{portfolio.title}}</a>
                </h2>
                <small class="date">{{ portfolio.date | date_to_string }}</small>
                <div class="categories">
                  {% for c in portfolio.categories %}
                  <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
        {% endfor %}
      </section>

      {% include footer.html %}
    </main>
    {% include category-modal.html %}
  </body>
</html>
