<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      {% include bio.html %}
      <!-- Articles Section -->
      <section id="introduce-section" class="articles">
        {% for introduce in site.introduce %}
        <a href="{{site.baseurl}}{{introduce.url}}" class="article-link">
          <article class="article">
            <div class="article-content">
              {% if introduce.image %}
              <img src="{{ introduce.image }}" alt="{{ introduce.title }}" class="article-image" />
              {% endif %}
              <div>
                <h2 class="article-title">{{ introduce.title }}</h2>
              </div>
            </div>
          </article>
        </a>
        {% endfor %}
      </section>

      <!-- Portfolio Section -->
      <section id="portfolio-section" class="articles">
        <h2>ポートフォリオ</h2>
        <div id="category-filter">
          <div id="category-buttons" class="category-buttons-container"></div>
        </div>

        {% assign grouped_portfolios = site.portfolio | group_by_exp:"portfolio", "portfolio.date | date: '%Y'" %}
        {% for group in grouped_portfolios reversed %}
        <div class="year-group">
          <h2 class="year">{{ group.name }}</h2>
          <div class="divider"></div>
          {% for portfolio in group.items reversed %}
          <a href="{{site.baseurl}}{{portfolio.url}}" class="article-link">
            <article class="article" data-categories="{{ portfolio.categories | join: ',' }}">
              <div class="article-content">
                {% if portfolio.image %}
                <img src="{{ portfolio.image }}" alt="{{ portfolio.title }}" class="article-image" />
                {% endif %}
                <div>
                  <h2 class="article-title">{{portfolio.title}}</h2>
                  <small class="date">{{ portfolio.date | date_to_string }}</small>
                  <div class="categories">
                    {% for c in portfolio.categories %}
                    <span class="category">{{c}}</span> <!-- spanに変更 -->
                    {% endfor %}
                  </div>
                </div>
              </div>
            </article>
          </a>
          {% endfor %}
        </div>        
        {% endfor %}
      </section>


      {% include footer.html %}
    </main>
    <script src="{{ site.baseurl }}/assets/js/categories-filter.js"></script>
  </body>
</html>
